<?xml version='1.0' encoding='utf-8'?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.moe.moeimg">
	<uses-permission android:name="android.permission.INTERNET"/>
	<application
		android:icon="@drawable/logo"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:resizeableActivity="true">
		<activity
			android:name="activitys.HomeActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="activitys.PostActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:scheme="http"/>
				<data android:scheme="https"/>
				<data android:host="moeimg.net"/>
				<data android:pathPrefix="/tag/"/>
				<data android:pathPrefix="/category/"/>
			</intent-filter>
		</activity>
		<activity
			android:name="activitys.DetailsActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:scheme="http"/>
				<data android:scheme="https"/>
				<data android:host="moeimg.net"/>
				<data android:pathPattern="/.*\\.html"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
